$layoutColor: #f8f8fa;
$linkColor: #035ac5;
$linkHoverColor: #f41d11;

.layoutContainer {
  background-color: $layoutColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: $layoutColor;

  a {
    margin-right: 1rem;
    color: $linkColor;
    text-decoration: none;

    &:hover {
      color: $linkHoverColor;
    }
  }
}