.layoutContainer {
  background-color: #f8f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #f8f8fa;
}

.navbar a {
  margin-right: 1rem;
  color: #035ac5;
  text-decoration: none;
}

.navbar a:hover {
  color: #f41d11;
}
